:root {
  /* Modular 4/5 */
  --scale-1: 2.441em;
  --scale-2: 1.953em;
  --scale-3: 1.563em;
  --scale-4: 1.25em;
  --scale-5: 0.8em;
  --scale-6: 0.64em;
  --scale-7: 0.512em;
  --scale-8: 0.41em;
}

html * {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}


body {
  padding: 0 1.875em;
}

.page-banner {
  padding:  1.512em 0 1em;
}

p,
label {
  font-weight: 300;
}

button,
select {
  border-radius: 4px;
  background: dimgrey;
  color: white;
  border: 1px solid darkgrey;
  padding: var(--scale-7) var(--scale-6);
}

button:hover,
select:hover {
  border-color: black;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1 {
  font-size: var(--scale-2);
  font-family: "Bowlby One", serif;
}

h2 {
  font-size: var(--scale-2);
  font-weight: 300;
}

.app-controls {
  display: flex;
  justify-content: space-between;
  padding: var(--scale-7) 0;
}

.bookmark {
  padding: var(--scale-7) 0;
}

.bookmark--header,
.bookmark--details {
  padding: var(--scale-7) var(--scale-8);
}

.bookmark--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark--controls {
  display: flex;
  justify-content: space-between;
  padding: var(--scale-8);
}

.bookmark--header {
  background: darkgrey;
}

.bookmark--details {
  background: lightgrey;
}

.bookmark--description {
  padding: var(--scale-7) 0;
}

.add-bookmark {
  background: lightgrey;
  padding: var(--scale-7);
}

.add-bookmark--header {
  padding-bottom: var(--scale-6);
}

.add-bookmark--row {
  display: flex;
  align-items: baseline;
  padding: var(--scale-8) 0;
}

.add-bookmark--label {
  flex: 0 0 33%;
  text-align: right;
  padding-right: var(--scale-6);
}

.add-bookmark--label__optional {
  font-style: italic;
  font-size: var(--scale-6);
}

.add-bookmark--text-field,
.add-bookmark--text-box {
  flex: 0 0 66%;
}

.add-bookmark--text-box {
  height: 7.451em;
  resize: none;
}

.add-bookmark--rating-field {
  flex: 0 0 3em;
}

.add-bookmark--text-field,
.add-bookmark--text-box,
.add-bookmark--rating-field {
  border: 1px solid #cccccc;
}

.add-bookmark--submit-btn {
  display: block;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 672px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: var(--scale-1);
    text-align: center;
  }
}
